.title {
  color: white;
  margin-bottom: 15px;
}

.container {
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.input {
  background-color: #2e2e2e;
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: none;
}

input:focus {
  outline: none;
}

.input input {
  width: 80%;
  height: 100%;
  border: none;
  background-color: #2e2e2e;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  text-decoration: none;
  padding-left: 10px;
  color: white;
}

.edit-input {
  color: white;
  background-color: #2e2e2e;
  height: 25px;
  width: 80%;
  position: relative;
  bottom: 5px;
  padding: 5px;
}

.right-task {
  width: 100%;
}

.button {
  margin: 5px;
  height: 80%;
  width: 15%;
  background-color: #181717;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  opacity: 0.5;
}

ul {
  list-style-type: none;
  width: 70%;
}

.tasks {
  color: white;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

li {
  text-decoration: none;
}

.left {
  display: flex;
  width: 80%;
}

.right {
  width: 20%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  position: relative;
  bottom: 5px;
  margin-right: 10px;
  height: 75%;
}

.left i {
  margin-right: 1rem;
}

.right i {
  margin-right: 1rem;
}

.completed {
  text-decoration: line-through;
}

.complete-check {
  color: #3b9464;
}

.delete-icon {
  color: #da4747;
}

.delete-icon:hover {
  opacity: 0.7;
}

.edit-icon {
  color: #cebea4;
}

.edit-icon:hover {
  opacity: 0.7;
}

.tick-icon {
  color: #3b9464;
}

.tick-icon {
  opacity: 0.7;
}

.colored-star {
  color: goldenrod;
}

.colored-star:hover {
  opacity: 0.7;
}

.complete-line {
  text-decoration: line-through;
  text-decoration-color: #3b9464;
  color: #3b9464;
}

.hover {
  cursor: pointer;
}

.hover:hover {
  opacity: 0.7;
}

@media (min-width: 500px) and (max-width: 1000px) {
  .container {
    width: 100%;
    margin-top: 150px;
  }

  .input {
    width: 80%;
  }

  .input input {
    width: 80%;
  }

  .button {
    width: 15%;
  }

  ul {
    width: 100%;
  }

  .all-tasks {
    width: 90%;
  }

  .tasks {
    margin-top: 15px;
    height: auto;
  }

  .left {
    width: 40%;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .right {
    width: 60%;
    display: flex;
    flex-direction: row;
  }

  .fa-regular {
    position: relative;
    top: 5px;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .container {
    width: 100%;
    margin-top: 50px;
  }

  .input {
    width: 90%;
  }

  .input input {
    width: 80%;
  }

  .button {
    width: 15%;
  }

  ul {
    width: 100%;
  }

  .all-tasks {
    width: 100%;
  }

  .tasks {
    width: 100%;
    margin-top: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    justify-content: flex-start;
  }

  .left {
    width: 90%;
    display: flex;
    justify-content: flex-start;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .right {
    width: 40%;
    display: flex;
    flex-direction: row;
  }

  .fa-regular {
    position: relative;
    top: 5px;
  }

  .up-down {
    position: relative;
    top: 5px;
  }
}